@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 700;
}
.primary-button{
    outline: 0;
    border: 0;
    padding: 10px 15px;
    background-color: rgb(240, 77, 110);
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    top: 0;
}
.primary-button:active{
    top: 5px;
    box-shadow: 0 2px 0 #a5075e;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;

}
.navigation{
    display: flex;
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600px;
    padding: 10px 10px;
    
}
.banner{
    height: calc(100vh-80px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-left{
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-left p{
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}
.banner-right img{
  width: 60%; 
  margin-left: 120px;
}
.banner-right:hover img{
    transform: scale(1.2);
}
.logo-container {
    height: 100px;
    border: 2px solid rgb(209, 201, 201);
    display: flex;
    max-width: 950px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px; 
    margin-top: 20px;
}  
.collection{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
/* items styles */

.items{
    display: grid;
    height: 740px;
    max-width: 950px;
    margin-left: 60px;
    grid-template-columns: repeat(3, 1fr);
   
}
.item{
    padding: 20px;
    height: 340px;
    width: 140px;
    max-width: 950px;
    margin: 60px;  
}
.items.item-banner img{
    width: 200 px;
    height: 200 px;  
}
.item-info{
    display: flex;
    align-items: center; 
    
}
.fa-star{
    font-size: 16px;
}
.fa-star.filled{
    color: #FB8200;
}
.fa-star-half-alt.empty{
    color: #FB8200;
}
.rating{
    padding-left:30px;
}
.item-dis{
    color: #787885;
    font-size: 14px;
}
.see-more{
    color: #E02C6D;
    font-size: 24px;
    padding-top: 800px;
    margin-left: 800px;
}
.flex-con{
    display: flex; 
}
/* feedback part */
.half-width3 img{
    width: 100%;
    padding-top: 0px;
    padding-left: 20%;
}
.half-width3{
    
    width: 100%;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 10px;   
} 
.primary-button2{
    outline: 0;
    border: 0;
    padding: 10px 15px;
    background-color: rgb(240, 77, 110);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    top: 0;
}
.primary-button2:active{
    top: 15px;
    box-shadow: 0 2px 0 #a5075e;

}
.feedback{
    color: #787885;
    margin-top: 20px;
}
/* footer style */
.footer-content{
    color:white; 
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.3rem;
    font-weight: 300;
    margin-top: 20px;
}
footer{
    background-color: rgb(22, 2, 54);
    font-size: .8rem;
    font-weight: 200;
    line-height: 2rem;
    height: 100%;
    margin-top: 20px;
    
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;

}
/* media queries for mobail devices */
@media only screen and (max-width:688px){

    .items{
        grid-template-columns: 1fr;
    }
}
.half-width3{
    padding-top: 170rem;
}

/* media queries for tablet */

@media only screen and (min-width: 688px) and (max-width:992px){

    .items{
        grid-template-columns: repeat(2, 1fr)
    } 
}



